<h1>Add an article</h1>

<%= render "form", article: @article %>

<%= link_to "My articles", articles_path, class: 'btn btn-primary', style:"border: 1px solid black; width: auto; border-radius: 15px; box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);" %>
